In [68]:
import numpy as np
import pandas as pd

In [69]:
file_path = "National Assembly .csv"
df = pd.read_csv(file_path)
df.head()

,National Assembly,Name of Candidate,Party Affiliation,Symbol Allocated,Number of Votes Polled,Number of Voters Polled,Rejected Votes,Casted Men,Casted Women,Registered Males,Registered Females,Total Voters Registered,Turnout %
0,NA-1,Abdul Latif,IND-PTI,Bottle (32),"61,834","166,808","4,755","84,230","82,578","169,193","144,357","313,550",53.2
1,NA-2,Muhammad Talha Mehmood,JUIF,Book (31),"42,897","177,355","6,006","123,786","53,569","265,578","219,822","485,400",36.54
2,NA-3,Fazli Rabbi,PPP,Arrow (12),"23,723","167,028","4,966","127,255","39,773","251,356","211,325","462,681",36.1
3,NA-4,Iftikhar Uddin,PML-N,Tiger (284),"20,007","161,186","5,412","121,286","39,900","286,769","242,414","529,183",30.46
4,NA-5,Molana Abdul Akbar Chitrali,JIP,Scale (232),"9,253","213,228","9,019","132,617","80,611","327,153","263,280","590,433",36.11

In [70]:
df.describe()

,National Assembly,Name of Candidate,Party Affiliation,Symbol Allocated,Number of Votes Polled,Number of Voters Polled,Rejected Votes,Casted Men,Casted Women,Registered Males,Registered Females,Total Voters Registered,Turnout %
count,266,4991,4984,3650,4924,263,261,254,255,262,262,264,263
unique,266,4266,130,411,2683,262,256,254,255,262,262,264,252
top,NA-1,Muhammad Iqbal,IND,Scale,-,"237,545","7,640","84,230","82,578","169,193","144,357","313,550",51.90%
freq,1,8,2956,134,86,2,2,1,1,1,1,1,2

In [71]:
df = df.iloc[0:266]
df.columns = df.columns.str.replace(' ', '_')

In [72]:
print("Column Name\t\tTotal Null Values")
for column_name in df.columns:
    null_count = df[column_name].isnull().sum()
    print(f"{column_name}\t\t{null_count}")

Column Name		Total Null Values
National_Assembly		0
Name_of_Candidate		0
Party_Affiliation		0
Symbol_Allocated		0
Number_of_Votes_Polled		12
Number_of_Voters_Polled_		3
Rejected_Votes		5
Casted_Men_		12
Casted_Women_		11
Registered_Males		4
Registered_Females_		4
Total_Voters_Registered_		2
Turnout_%		3

In [73]:
# Convert relevant columns to numeric
numeric_columns = ['Number_of_Voters_Polled_', 'Total_Voters_Registered_']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Check for missing values in 'Number_of_Votes_Polled_', 'Number_of_Voters_Polled_', and 'Total_Voters_Registered_'
missing_votes_polled = df[df['Number_of_Votes_Polled'].isnull()]
missing_voters_polled = df[df['Number_of_Voters_Polled_'].isnull()]
missing_total_registered = df[df['Total_Voters_Registered_'].isnull()]

# Check if there are missing values in 'Number_of_Votes_Polled_' and non-missing values in 'Number_of_Voters_Polled_' and 'Total_Voters_Registered_'
if not missing_votes_polled.empty and not missing_voters_polled.empty and not missing_total_registered.empty:
    # Calculate turnout percentage
    df['Turnout_Percentage'] = df['Number_of_Voters_Polled_'] / df['Total_Voters_Registered_']
    
    # Compute 'Number_of_Votes_Polled_' using the turnout percentage
    df.loc[missing_votes_polled.index, 'Number_of_Votes_Polled'] = df.loc[missing_votes_polled.index, 'Total_Voters_Registered_'] * df.loc[missing_votes_polled.index, 'Turnout_Percentage']
    
    # Drop the 'Turnout_Percentage' column (optional)
    df.drop(columns=['Turnout_Percentage'], inplace=True)

# Check if missing values in 'Number_of_Votes_Polled_' are filled
if df['Number_of_Votes_Polled'].isnull().sum() == 0:
    print("All missing values in 'Number_of_Votes_Polled' have been filled.")
else:
    print("Some missing values in 'Number_of_Votes_Polled' could not be filled.")

# Save the updated dataset
df.to_csv("updated_dataset.csv", index=False)

Some missing values in 'Number_of_Votes_Polled' could not be filled.